$primary-200: #FFCDA9;
$primary-600: #EE3C08;
$primary-700: #C52A09;

$white: #fff;
$gray-50: #F6F6F6;
$gray-100: #E7E7E7;
$gray-100: #D1D1D1;
$gray-300: #B0B0B0;
$gray-900: #3D3D3D;
$gray-950: #101010;
$gray-1000: #000000;
$bg-black: #1C1B1B;
$bg-black-hover: #2B2A2A;